<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'addrestaurant' %}" method="post">
        {% csrf_token %}
        <input type="text" name="name">
        <br>
        <input type="text" name="location">
        <br>
        <input type="number" name="two_tables">
        <br>
        <input type="number" name="four_tables" id="">
        <br>
        <input type="number" name="six_tables">
        <br>
        <input type="file" name="photo" >
        <br>
        <input type="text" name="description">
        <br>
        <input type="submit" name="submit" value="add">
    </form>
</body>
</html>